.container {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
}

.viewMode {
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 0;
  background: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.875em;

  height: 100vh;
  justify-content: center;
}

.form button {
  background: var(--blue-500);
  color: #fff;
}

.form .passwordInput,
.form .characterNumberOption,
.form .options,
.form button {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.options .option {
  display: flex;
  gap: 0.5em;
}